Repository freedesktop/gstreamer-gst-ci: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test manifest, fedora amd64 run docker, fedora amd64 build docker

.gitlab-ci.yml:

stages:
  - "test"
  - "build runtime"
  - "build base"
  - "manifest"
  - "build"

test manifest:
  variables:
    GIT_STRATEGY: fetch
  image: "fedora"
  stage: "test"
  before_script:
    - dnf install -y python3-pytest python3-pytest-cov python3-requests
  script:
    - pytest-3 --junitxml=junit.xml --cov=build_manifest gitlab/build_manifest.py
  only:
    changes:
      - "gitlab/build_manifest.py"
  coverage: '/TOTAL.*\s+(\d+%)$/'
  artifacts:
    reports:
      junit:
        - "junit.xml"

.base:
  image: "docker:stable"
  services:
    - docker:dind
  variables:
    # When using dind, it's wise to use the overlayfs driver for
    # improved performance.
    DOCKER_DRIVER: "overlay2"
    GIT_STRATEGY: fetch
  script:
    - export IMAGE="${CI_REGISTRY_IMAGE}/${ARCH}/${TAG}"
    - export REF="${IMAGE}:${CI_COMMIT_SHA}"
    - export LATEST="${IMAGE}:latest"

    - docker build --pull -f ${DOCKERFILE} -t ${REF} ${CONTEXT_DIR}
    - docker image tag ${REF} ${LATEST}

    # If we are in a fork, push the image to the reigstry regardless the branch
    - |
      if [ "$CI_PROJECT_NAMESPACE" != "gstreamer" ]; then
        docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
        docker push ${REF}
        docker push ${LATEST}
      fi

    - echo "$CI_PROJECT_NAMESPACE"
    # Push the images to the upstream registry
    - |
      if [ "$CI_COMMIT_REF_NAME" = "alatiera/check-namepsace" ] && [ "$CI_PROJECT_NAMESPACE" = "gstreamer" ]; then

        docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
        docker push ${REF}
        docker push ${LATEST}
      fi
  only:
    changes:
      - ".gitlab-ci.yml"
      - "docker/**"
      - "docker/*/**"


fedora amd64 run docker:
  stage: "build runtime"
  variables:
    ARCH: "amd64"
    TAG: "fedora-runtime"
    CONTEXT_DIR: "docker/runtime-images/"
    DOCKERFILE: "docker/runtime-images/Dockerfile-fedora"
  extends: .base

fedora amd64 build docker:
  stage: "build base"
  variables:
    ARCH: "amd64"
    TAG: "fedora-build"
    CONTEXT_DIR: "docker/build-base-images/"
    DOCKERFILE: "docker/build-base-images/Dockerfile-fedora"
  extends: .base

include: "gitlab/ci_template.yml"

# Overwrite the job with the same name that comes from the include template,
# in order to use the `:latest` tag of the image built
build fedora x86_64:
  # This comes from the `include:` above
  extends: .build
  image: "${CI_REGISTRY_IMAGE}/amd64/fedora-build:latest"

gitlab: Do not pass --force-sync in the launcher
  gitlab/ci_template.yml
Due: none

gitlab: manifest: Use a cerbero ref with build
  gitlab/build_manifest.py
Due: test manifest

gitlab: Run all valgrind jobs when running in gst-ci
  gitlab/ci_template.yml
Due: none

gitlab/ci_template: no need to do cerbero builds for gstreamer-vaapi
  gitlab/ci_template.yml
Due: none

gitlab: Check bugs resolutions when running the validate/ges testsuite
  gitlab/ci_template.yml
Due: none

docker:fedora: Use meson 0.50.1
  docker/fedora/prepare.sh
Due: fedora amd64 run docker, fedora amd64 build docker

ci_template: update docker image uris
  gitlab/ci_template.yml
Due: none

gitlab/build_manifest: add gst-sharp to the module list
  gitlab/build_manifest.py
Due: test manifest

gitlab/build_manifest: allow for upstream branch to be specified
  gitlab/build_manifest.py
  gitlab/ci_template.yml
Due: test manifest

gitlab/ci_template: post-branch version bump
  gitlab/ci_template.yml
Due: none

gitlab: Add static builds for gst-build
  gitlab/ci_template.yml
Due: none

add macos CI
  gitlab/ci_template.yml
Due: none

gitlab: update android docker image to the latest
  gitlab/ci_template.yml
Due: none

gst-build: clone gst-build directly instead of relying on the docker version
  gitlab/ci_template.yml
Due: none

gitlab/ci_template: only run valgrind for MRs not master and stable branches
  gitlab/ci_template.yml
Due: none

gitlab-ci: move overriden dist dir copy to after cache fetch
  gitlab/ci_template.yml
Due: none

gitlab/docs: Point branch to 1.16
  gitlab/freedesktop_doc_importer.sh
Due: none

gitlab: consolidate stages
  .gitlab-ci.yml
  gitlab/ci_template.yml
Due: fedora amd64 run docker, fedora amd64 build docker

add iOS CI
  gitlab/ci_template.yml
Due: none

gitlab/cerbero: use the correct branch on fetch-cache
  gitlab/ci_template.yml
Due: none

Add Windows MSVC and MSYS2 builds
  docker/windows/Dockerfile
  docker/windows/cleanup.ps1
  docker/windows/prepare.ps1
  gitlab/ci_template.yml
Due: fedora amd64 run docker, fedora amd64 build docker

docker/windows: refactorings to get it to work with the new runner
  docker/windows/Dockerfile
  docker/windows/cleanup.ps1
  docker/windows/install_toolchain.ps1
  docker/windows/prepare.ps1
  docker/windows/prepare_gst_env.ps1
  gitlab/ci_template.yml
Due: fedora amd64 run docker, fedora amd64 build docker

Do not specify the compiler to use
  gitlab/ci_template.yml
Due: none

gitlab: renable gst-build werror after msvc CI merge
  gitlab/ci_template.yml
Due: none

gitlab: use the new needs yaml key
  .gitlab-ci.yml
  gitlab/ci_template.yml
Due: fedora amd64 run docker, fedora amd64 build docker

ci_template: Only export artifacts for the main fedora build job
  gitlab/ci_template.yml
Due: none

gitlab: no need of vaapi nor omx on windows builds
  gitlab/ci_template.yml
Due: none

ci_template: Add an auto-retry policy
  gitlab/ci_template.yml
Due: none

citemplate: Tag test jobs to only run on the dedicated runners
  gitlab/ci_template.yml
Due: none

update for macos 10.15 making / read-only
  gitlab/ci_template.yml
Due: none

ci_template: Use a host-mapped volume for the ccache directory
  gitlab/ci_template.yml
Due: none

ci_template: set per-job timeouts for builds
  gitlab/ci_template.yml
Due: none

ci_template: Bump the timeout limit from 10 to 15min for windows
  gitlab/ci_template.yml
Due: none

ci_template: Increase the timeout of gst-builds more
  gitlab/ci_template.yml
Due: none

windows: Migrate to windows 1809 base
  docker/windows/Dockerfile
  docker/windows/install_toolchain.ps1
  gitlab/ci_template.yml
Due: fedora amd64 run docker, fedora amd64 build docker

windows: fix invalid powershell syntax
  gitlab/ci_template.yml
Due: none

ci_template: make sure powershell hard exists on errors
  docker/windows/Dockerfile
  gitlab/ci_template.yml
Due: fedora amd64 run docker, fedora amd64 build docker

ci_template: bump timeout for msys2 job
  gitlab/ci_template.yml
Due: none

ci_template: bump cerbero deps ios universal timeout to 4 hours
  gitlab/ci_template.yml
Due: none

docker/cerbero: Install openssl-devel manually
  docker/cerbero/Dockerfile-fedora
Due: fedora amd64 run docker, fedora amd64 build docker
